<h1>Hola</h1>

<h4>Escribe el nombre de tu cerveza favorita</h4>

<form action="/beers" method="GET">
  <label for="name">Name of the beer</label>
  <input id="name" type="text" name="name" />
 
  <button type="submit">Search</button>
</form>